<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertCart">
	
		INSERT INTO TB_CART
		
		(USER_NO,PRODUCT_NO,CART_AMOUNT)
		
		VALUES(?,?,?)
	
	
	</entry>
	
	
	<entry key="countCart">
	
		SELECT COUNT(*) COUNT
		FROM TB_CART
		WHERE USER_NO =? AND PRODUCT_NO=?
	
	</entry>
	
	
	<entry key="selectCart">
	
	
		SELECT USER_NO,PRODUCT_NO, PATH, PRODUCT_NAME, PRICE, DISCOUNT_PRICE, CART_AMOUNT,CATEGORY_NAME
		FROM TB_CART C
		JOIN TB_PRODUCT P USING(PRODUCT_NO)
		JOIN TB_CATEGORY T USING(CATEGORY_NO)
		WHERE USER_NO = ?
		
	
	
	
	</entry>
	
	<entry key="pageCount">
	
		SELECT COUNT(*) COUNT
		FROM TB_CART C
		JOIN TB_PRODUCT P USING(PRODUCT_NO)
		JOIN TB_CATEGORY T USING(CATEGORY_NO)
		WHERE USER_NO=?
	
	
	
	</entry>
	
	<entry key="deleteCart">
	
		DELETE FROM TB_CART
		WHERE USER_NO = ? AND PRODUCT_NO = ?
	
	</entry>
	
	<entry key="cartListDelete">
		DELETE FROM TB_CART
		WHERE USER_NO = ? 
	
	</entry>
	
	
	



</properties>