<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTree</title>

    <!-- 부트스트랩 기능을 위한 CDN 방식 연결 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ---------------------------------- -->

    <!-- 마이페이지(MyTree) css 파일 링크연결 -->
    <link href="/src/main/webapp/resources/css/myPage/myPageMyTree.css" rel="stylesheet">

    <style>
    /* 레이아웃 관련 스타일 */
    .wrap{width: 1200px; margin: auto;}
    .wrap, .wrap * {box-sizing: border-box;}
    .header{height: 150px; z-index: 2; padding-top: 10px;}
    .main-content{min-height: 800px; padding-top: 130px;}
    .footer{height: 200px;}
    .center{display: flex; justify-content: center; align-items: center;}

    /* Header 영역관련 스타일 */
    .header{display: flex; width: 1200px; position: fixed; top: 0; background-color: white;}
    .header-left-logo{width: 25%; display: flex;}
    .header-left-logo>img{height: 100%;}
    .header-right{width: 75%; display: flex; flex-direction: column;}
    .header-right-top{height: 30%;}
    .header-user>svg:hover{cursor: pointer;}
    .header-right-bottom{height: 70%;}

    /* Footer 영역관련 스타일 */
    .footer{display: flex;}
    .footer-logo{width: 30%;}
    .footer-company{width: 40%;}
    .footer-company>ul{list-style-type: "- "}
    .footer-business-time{width: 30%;}
    .footer-business-time>ul{list-style: none;}
    </style>

</head>
<body>
    <div class="wrap container p-3">
		
        <!-- Header start -->
        <header class="header border-bottom border-2">


            <!-- Header 왼쪽(로고) 영역 start -->
            <div class="header-left-logo center">
                <img src="<%= contextPath %>/resources/images/로고.png" alt="소스토리 로고이미지">
            </div>
            <!-- Header 왼쪽(로고) 영역 end -->


            <!-- Header 오른쪽 영역(상단: 유저관련 | 하단: nav바) start -->
            <div class="header-right">

                <!-- Header 오른쪽-상단(로그인, 마이페이지, 장바구니) 영역 start -->
                <div class="header-right-top">
                    <div class="header-user d-flex justify-content-end center">
                        <!-- 로그인 x  -->
                        <a class="btn btn-outline-secondary btn-sm mx-2 py-0">login</a>
                        <!-- 로그인 o 
                        <span><b>xxx님</b></span>
                        -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="user mx-2" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="cart mx-2" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>

                        <!-- 로그인 되어있을 경우에만 보여짐 
                        <a class="btn btn-outline-secondary btn-sm mx-2 py-0">logout</a>
                        -->
                        
                    </div>
                </div>
                <!-- Header 오른쪽-상단(로그인, 마이페이지, 장바구니) 영역 end -->

                <!-- Header 오른쪽-하단(nav바) 영역 start -->
                <div class="header-right-bottom">
                    <div class="header-nav py-4 mb-3">
                        <nav class="nav nav-underline justify-content-between">
                            <a class="nav-item nav-link link-body-emphasis active" href="#">HOME</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">전체상품</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">신상품</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">타임세일</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">랭킹</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">소스트리</a>
                        </nav>
                    </div>
                </div>
                <!-- Header 오른쪽-하단(nav바) 영역 start -->
            </div>
            <!-- Header 오른쪽 영역(상단: 유저관련 | 하단: nav바) end -->
        </header>
        <!-- Header end -->

<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->

        <!-- Section start -->
        <section class="main-content">

            <div class="main-wrap">

                <!-- 사이드 nav바 start -->
                <div class="menu_wrap" >

                    <div class="side_menu">
                        <button class="list">회원정보</button>
                        <div><a href="" class="">회원정보 변경</a></div>
                        <div><a href="">비밀변호 변경</a></div>
                        <div><a href="">배송지관리</a></div>
                    </div>

                    <div class="side_menu">
                        <button class="list">My Tree</button>
                    </div>

                    <div class="side_menu">
                        <button class="list">찜목록</button>
                    </div>

                    <div class="side_menu">
                        <button class="list">고객문의</button>
                        <div>
                        <a href="">상품문의</a><br>
                        <a href="">1:1 문의</a>
                        </div>
                    </div>

                    <div class="side_menu">
                        <button class="list">주문조회</button>
                    </div>

                </div>


                <script>
                   $(function(){
                        $(".side_menu>button").click(function(){       
                            const $b = $(this).nextAll();
            
                            if($b.css("display") == "none") {          
                                $(".list").siblings("div").slideUp();
                                $b.slideDown();         
                            }else{
                                $b.slideUp();
                            }
            
                        })
                    })
                </script>
                <!-- 사이드 nav바 end -->

                <!-- MyTree 페이지 영역 start -->
                <div class="main-page">

                    <!-- 페이지 제목 영역 start -->
                    <div class="page-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="user-icon me-4 mb-2" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        <h3><b>MyTree</b><label>내가 작성한 레시피</label></h3>
                    </div>
                    <!-- 페이지 제목 영역 end -->

                    <!-- 작성한 레시피목록 테이블 영역 start -->
                    <div class="recipe-list">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>레시피명</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                    <th>좋아요</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 
                                    기능설명 : 이미지 or 레시피명 클릭시, 레시피 상세페이지로 이동
                                    기능구현 : 아래 script로 location.href 이동 함수있음 (URL 채우면됨)  
                                -->
                                <tr>
                                    <td id="recipe-thumbnail"><img src="/src/main/webapp/resources/images/이미지1.jpg" alt=""></td>
                                    <td id="recipe-title">고추장 불고기</td>
                                    <td>2024-02-26</td>
                                    <td>251</td>
                                    <td>56</td>
                                    <!-- 
                                        기능설명 : 수정버튼 클릭시, 레시피 수정페이지로 이동 
                                        기능구현 : 태그내 href 속성에 수정페이지 URL 넣으면됨
                                    -->
                                    <td>
                                        <a href="" class="btn">수정</a>
                                        | 
                                        <!-- 
                                            기능설명 : 삭제버튼 클릭시, confirm 팝업 후 삭제 
                                            기능구현 : 아래 삭제여부 확인용 팝업창있음
                                        -->
                                        <button type="button" class="btn text-danger" data-toggle="modal" data-target="#delete-recipe">삭제</button>
                                    </td>
                                </tr>

                                <!-- 
                                    기능설명 : 이미지 or 레시피명 클릭시, 레시피 상세페이지로 이동
                                    기능구현 : 아래 script로 location.href 이동 함수있음 (URL 채우면됨)  
                                -->
                                <tr>
                                    <td id="recipe-thumbnail"><img src="/src/main/webapp/resources/images/이미지1.jpg" alt=""></td>
                                    <td id="recipe-title">고추장 불고기</td>
                                    <td>2024-02-26</td>
                                    <td>251</td>
                                    <td>56</td>
                                    <!-- 
                                        기능설명 : 수정버튼 클릭시, 레시피 수정페이지로 이동 
                                        기능구현 : 태그내 href 속성에 수정페이지 URL 넣으면됨
                                    -->
                                    <td>
                                        <a href="" class="btn">수정</a>
                                        | 
                                        <!-- 
                                            기능설명 : 삭제버튼 클릭시, confirm 팝업 후 삭제 
                                            기능구현 : 아래 삭제여부 확인용 팝업창있음
                                        -->
                                        <button type="button" class="btn text-danger" data-toggle="modal" data-target="#delete-recipe">삭제</button>
                                    </td>
                                </tr>

                                <!-- 
                                    기능설명 : 이미지 or 레시피명 클릭시, 레시피 상세페이지로 이동
                                    기능구현 : 아래 script로 location.href 이동 함수있음 (URL 채우면됨)  
                                -->
                                <tr>
                                    <td id="recipe-thumbnail"><img src="/src/main/webapp/resources/images/이미지1.jpg" alt=""></td>
                                    <td id="recipe-title">고추장 불고기</td>
                                    <td>2024-02-26</td>
                                    <td>251</td>
                                    <td>56</td>
                                    <!-- 
                                        기능설명 : 수정버튼 클릭시, 레시피 수정페이지로 이동 
                                        기능구현 : 태그내 href 속성에 수정페이지 URL 넣으면됨
                                    -->
                                    <td>
                                        <a href="" class="btn">수정</a>
                                        | 
                                        <!-- 
                                            기능설명 : 삭제버튼 클릭시, confirm 팝업 후 삭제 
                                            기능구현 : 아래 삭제여부 확인용 팝업창있음
                                        -->
                                        <button type="button" class="btn text-danger" data-toggle="modal" data-target="#delete-recipe">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- 레시피 삭제여부 확인 팝업창 start -->
                        <div class="modal" id="delete-recipe">
                            <div class="modal-dialog">
                            <div class="modal-content">
                            
                                <!-- Modal body -->
                                <div class="modal-body my-4" style="font-size: 20px;">
                                    레시피를 정말 삭제하시겠습니까?
                                </div>
                                
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <div class="d-flex">
                                        <button type="reset" class="btn btn-secondary me-3 px-4" data-dismiss="modal">취소</button>
                                        <!-- 확인버튼 클릭시 삭제진행 -->
                                        <a href="" class="btn btn-danger px-4" data-dismiss="modal">확인</a>
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                        </div>
                        <!-- 레시피 삭제여부 확인 팝업창 end -->

                        <script>
                            $(function(){

                                // 레시피이미지 or 레시피명 클릭이벤트 발생시 실행될 함수
                                $(".recipe-list").on("click", "#recipe-thumbnail, #recipe-title", function(){
                                    location.href="레시피 상세페이지 이동 URL";
                                })

                            })

                        </script>
                        
                        <!-- 기능 : 5개 단위 페이징처리 -->
                        <div class="center mt-5">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- 작성한 레시피목록 테이블 영역 end -->

                </div>   
                <!-- MyTree 페이지 영역 end -->
            </div>

        </section>
        <!-- Section end -->

<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->

        <!-- Footer start -->
        <footer class="footer pt-3 border-top border-2">
            <div class="footer-logo">
                <img src="<%= request.getContextPath() %>/resources/images/로고.png" alt="소스토리 로고이미지" class="w-100 h-100">
            </div>
            <div class="footer-company center">
                <ul>
                    <li class="mb-4">상호명 : So's tory</li>
                    <li class="mb-4">개발자 : team sos</li>
                    <li>깃허브 : jsj@goodee.co.kr(깃허브 주소로 변경)</li>
                </ul>
            </div>
            <div class="footer-business-time center">
                <ul>
                    <li class="border-bottom mb-3"><b>Business Time</b></li>
                    <li class="mb-3">Monday - Friday : 08:00am ~ 05:00pm</li>
                    <li class="mb-3">Staturday : 10:00am ~ 08:00pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
        </footer>
        <!-- Footer end -->
	     
	 </div>
</body>
</html>