<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectCountList">
		SELECT COUNT(*) COUNT
		  FROM TB_MEMBER
		  JOIN TB_ADDRESS USING (USER_NO)
		 WHERE USER_TYPE = 'Y'
		   AND USER_STATUS = 'Y'
		   AND ADDRESS_TYPE = 'Y'
	</entry>
	
	<entry key="selectCountSearchList">
		SELECT COUNT(*) COUNT
		  FROM TB_MEMBER
		  JOIN TB_ADDRESS USING (USER_NO)
		 WHERE USER_TYPE = 'Y'
		   AND ADDRESS_TYPE = 'Y'
		   AND USER_STATUS = 'Y'
		   AND USER_ID LIKE ?
	</entry>

	<entry key="selectMemberList">
		SELECT * 
		  FROM (
		        SELECT ROWNUM RN, A.*
		          FROM (
		                SELECT
		                       USER_NO
		                     , USER_ID
		                     , NICKNAME
		                     , USER_NAME
		                     , PHONE
		                     , EMAIL
		                     , ADDRESS_ADDRESS
		                  FROM TB_MEMBER
		                  JOIN TB_ADDRESS USING (USER_NO)
		                 WHERE USER_TYPE = 'Y'
		                   AND ADDRESS_TYPE = 'Y'
		                   AND USER_STATUS = 'Y'
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
  		  WHERE RN BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE
		       TB_MEMBER
		   SET USER_STATUS = 'N'
	</entry>
	
	<entry key="selectMemberByKeyword">
		SELECT * 
		  FROM (
		        SELECT ROWNUM RN, A.*
		          FROM (
		                SELECT
		                       USER_NO
		                     , USER_ID
		                     , NICKNAME
		                     , USER_NAME
		                     , PHONE
		                     , EMAIL
		                     , ADDRESS_ADDRESS
		                  FROM TB_MEMBER
		                  JOIN TB_ADDRESS USING (USER_NO)
		                 WHERE USER_TYPE = 'Y'
		                   AND ADDRESS_TYPE = 'Y'
		                   AND USER_STATUS = 'Y'
		                   AND USER_ID LIKE ?
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
  		  WHERE RN BETWEEN ? AND ?
	</entry>
	<entry key="selectCountProductList">
		SELECT
			   COUNT(*) COUNT
		  FROM TB_PRODUCT
	</entry>
	
	<entry key="selectProductList">
		SELECT * 
		  FROM (
		        SELECT ROWNUM RN, A.*
		          FROM (
		                SELECT
		                       PRODUCT_NO
						     , PRODUCT_NAME
						     , PRICE
						     , INVENTORY
						     , STATUS
						     , DISCOUNT_PRICE
		                  FROM TB_PRODUCT
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
  		  WHERE RN BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteProduct">
		UPDATE
		       TB_PRODUCT
		   SET STATUS = 'N'
	</entry>
	
	<entry key="selectCountSearchProductList">
		SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE PRODUCT_NAME LIKE ?
	</entry>
	
	<entry key="selectProductByKeyword">
		SELECT * 
		  FROM (
		        SELECT ROWNUM RN, A.*
		          FROM (
		                SELECT
		                       PRODUCT_NO
						     , PRODUCT_NAME
						     , PRICE
						     , INVENTORY
						     , STATUS
						     , DISCOUNT_PRICE
		                  FROM TB_PRODUCT
		                 WHERE PRODUCT_NAME LIKE ?
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
  		  WHERE RN BETWEEN ? AND ?
	</entry>
	
	<entry key="selectCategory">
		SELECT 
			   CATEGORY_NO
			 , CATEGORY_NAME
		  FROM TB_CATEGORY
	</entry>

</properties>