<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<entry key="loginMember">
		SELECT 
		       USER_NO
		      ,USER_ID
		      ,USER_PWD
		      ,USER_NAME
		      ,TO_CHAR(BIRTH_DATE, 'YYYY-MM-DD') BIRTH_DATE
		      ,NICKNAME
		      ,PHONE
		      ,EMAIL
		      ,ADDRESS
		      ,ADDRESSDETAIL
		      ,GENDER
		      ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE
		      ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
		      ,USER_TYPE
		      ,USER_PATH
		 FROM TB_MEMBER
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND USER_STATUS = 'Y'
	</entry>

	<entry key="idCheck">
		SELECT COUNT(*) COUNT
		  FROM TB_MEMBER
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="insertMember">
		INSERT 
		  INTO TB_MEMBER
		  	   (
		  	   USER_NO
		  	 , USER_ID
		  	 , USER_PWD
		  	 , USER_NAME
		  	 , BIRTH_DATE
		  	 , NICKNAME
		  	 , PHONE
		  	 , EMAIL
		  	 , ADDRESS
		  	 , ADDRESSDETAIL
		  	 , GENDER
		  	 , USER_PATH
		  	   )
		VALUES (
		  	   SEQ_MNO.NEXTVAL
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	   )
	</entry>
	
	<entry key="findIdByEmail">
		SELECT
		       USER_ID
		  FROM TB_MEMBER
		 WHERE USER_NAME = ?
		   AND EMAIL = ?
	</entry>
	

</properties>