<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<!-- 비밀번호 변경요청 -->
	<entry key="updateMemberPwd">
		UPDATE TB_MEMBER
		   SET USER_PWD = ?
		   	  ,MODIFY_DATE = SYSDATE
		 WHERE USER_NO =?
		   AND USER_PWD =?
	</entry>
	
	<!-- 회원정보 변경요청 -->
	<entry key="updateMemberInfo">
		UPDATE TB_MEMBER
		   SET NICKNAME = ?
		   	  ,PHONE = ?
		   	  ,GENDER = ?
		   	  ,BIRTH_DATE = ?
		   	  ,MODIFY_DATE = SYSDATE
		   	  ,USER_PATH = ?
		 WHERE USER_NO = ?
	</entry>
	
	<!-- 배송지리스트 조회요청 -->
	<entry key="selectAddressList">
		SELECT 
		       ADDRESS_NO
		      ,ADDRESS_LOCAL
		      ,ADDRESS_NAME
		      ,ADDRESS_ADDRESS || ' ' || ADDRESS_DETAIL ADDRESS
		      ,ADDRESS_PHONE
		      ,ADDRESS_TYPE
		  FROM TB_ADDRESS
		 WHERE USER_NO = ?
		   AND ADDRESS_STATUS = 'Y'
		 ORDER BY ADDRESS_TYPE DESC
		         ,ADDRESS_NO
	</entry>
	
	<!-- 배송지 정보조회 -->
	<entry key="selectAddress">
		SELECT
			   ADDRESS_NO
			  ,ADDRESS_LOCAL
			  ,ADDRESS_NAME
			  ,ADDRESS_PHONE
			  ,ADDRESS_ADDRESS
			  ,ADDRESS_DETAIL
			  ,ADDRESS_TYPE
		  FROM TB_ADDRESS
		 WHERE ADDRESS_NO = ?
	</entry>
	
	<!-- 기본배송지 유무조회 -->
	<entry key="selectDefaultAddress">
		SELECT COUNT(*) COUNT
		  FROM TB_ADDRESS
		 WHERE USER_NO = ?
		   AND ADDRESS_TYPE = 'Y'
		   AND ADDRESS_STATUS = 'Y'
	</entry>
	
	<!-- 회원정보 최종변경일 수정 -->
	<entry key="updateMemberModifyDate">
		UPDATE TB_MEMBER
		   SET MODIFY_DATE = SYSDATE
		 WHERE USER_NO = ?
	</entry>
	
	<!-- 배송지타입 수정요청 -->
	<entry key="updateAddressType">
		UPDATE TB_ADDRESS
		   SET ADDRESS_TYPE = 'N'
		 WHERE USER_NO = ?
		   AND ADDRESS_TYPE ='Y'
	</entry>
	
	<!-- 배송지 등록요청 -->
	<entry key="insertAddress">
		INSERT
		    INTO TB_ADDRESS
		        (
		          ADDRESS_NO
		         ,USER_NO
		         ,ADDRESS_LOCAL
		         ,ADDRESS_NAME
		         ,ADDRESS_ADDRESS
		         ,ADDRESS_DETAIL
		         ,ADDRESS_PHONE
		         ,ADDRESS_TYPE
		        )
		    VALUES
		        (
		          SEQ_ANO.NEXTVAL
		         ,?
		         ,?
		         ,?
		         ,?
		         ,?
		         ,?
		         ,?
		        )
	</entry>
	
	<!-- 배송지 수정요청 -->
	<entry key="updateAddress">
		UPDATE TB_ADDRESS
		   SET ADDRESS_LOCAL = ?
		      ,ADDRESS_NAME = ?
		      ,ADDRESS_ADDRESS = ?
		      ,ADDRESS_DETAIL = ?
		      ,ADDRESS_PHONE = ?
		      ,ADDRESS_TYPE = ?
		 WHERE ADDRESS_NO = ?
	</entry>

</properties>