<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
	
		SELECT *
			FROM (
			    SELECT ROWNUM RNUM, A.*
			    FROM (
			        SELECT 
			         PRODUCT_NO
			       , CATEGORY_NAME
			       , PRODUCT_NAME
			       , PRICE
			       , PATH
			    FROM TB_PRODUCT
			    JOIN TB_CATEGORY USING(CATEGORY_NO)
			    WHERE STATUS = 'Y'
			    ) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectListCount">
		SELECT 
			   COUNT(*) COUNT
		  FROM TB_PRODUCT
	</entry>
	
	<entry key="selectProduct">
		SELECT 
		      PRODUCT_NO
		    , CATEGORY_NAME
		    , PRODUCT_NAME
		    , PRICE
		    , DISCOUNT_PRICE
		    , PATH
		FROM TB_PRODUCT
		JOIN TB_CATEGORY USING(CATEGORY_NO)
		WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectPaymentUser">
		SELECT 
		       USER_NO
		     , USER_ID
		FROM TB_MEMBER M
		LEFT JOIN TB_ORDER O USING(USER_NO)
		LEFT JOIN TB_PAYMENT P USING(PAYMENT_NO)
		WHERE PAYMENT_STATUS = 'Y'
	</entry>
	
	<entry key="selectQnaList">
	
		SELECT 
		      ANSWER_NO
		    , PRODUCT_NO
		    , USER_ID
		    , TO_CHAR(ANSWER_DATE, 'YYYY/MM/DD') ANSWER_DATE
		    , ANSWER_TITLE
		    , ANSWER_CONTENT
		    , ANSWER_STATUS
		    , REPLY
		    , TO_CHAR(REPLY_DATE, 'YYYY/MM/DD') REPLY_DATE
		FROM TB_QNA_REPLY    
		LEFT JOIN TB_MEMBER USING(USER_NO)
		WHERE ANSWER_TYPE = 1
		AND PRODUCT_NO = ?

	</entry>
	
	<entry key="selectQnaCount">
		SELECT COUNT(*) COUNT
		  FROM 
		      TB_PRODUCT
		  WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectRecipeList">
		SELECT 
		     RECIPE_NO
		   , USER_ID
		   , PRODUCT_NAME
		   , CATEGORY_NAME
		   , RECIPE_TITLE
		   , THUMBNAIL_URL
		   , RECIPE_INTRO
		   , PRICE
		   , PATH
		FROM TB_RECIPE
		LEFT JOIN TB_CATEGORY USING(CATEGORY_NO)
		LEFT JOIN TB_PRODUCT USING(PRODUCT_NO)
		LEFT JOIN TB_MEMBER USING (USER_NO)
		WHERE PRODUCT_NO = ?
		  AND RECIPE_STATUS = 'Y'
	</entry>
	
	<entry key="selectReviewCount">
		SELECT COUNT(*) COUNT
		  FROM TB_REVIEW
	</entry>
	
	<entry key="selectReviewList">
	SELECT *
		FROM(
		SELECT ROWNUM RNUM, A.*
		FROM( 
		SELECT 
		      PRODUCT_NO
		    , REVIEW_CONTENT
		    , RATING
		    , USER_ID
		    , TO_CHAR(POST_DATE, 'yyyy/MM/DD') POST_DATE
		FROM TB_REVIEW R
		LEFT JOIN TB_MEMBER M ON(M.USER_NO = R.WRITER_NO)
		WHERE R.PRODUCT_NO = ?
		ORDER 
		   BY POST_DATE DESC
		)A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	

</properties>
