<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>



<entry key="selectNewProductList">

SELECT *
FROM (
    SELECT ROWNUM RNUM, A.*
    FROM (
        SELECT 
            PRODUCT_NO,
            CATEGORY_NAME,
            PRODUCT_NAME,
            PRICE,
            DISCOUNT_PRICE,
            PATH,
            ROW_NUMBER() OVER(ORDER BY enroll_date DESC) AS ROW_NUM
        FROM TB_PRODUCT
        JOIN TB_CATEGORY USING(CATEGORY_NO)
        WHERE STATUS = 'Y'
    ) A
)
WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="selectNewProductListCount">

SELECT COUNT(*) AS COUNT
FROM (
    SELECT ROWNUM RNUM, A.*
    FROM (
        SELECT 
            PRODUCT_NO,
            CATEGORY_NAME,
            PRODUCT_NAME,
            PRICE,
            DISCOUNT_PRICE,
            PATH,
            ROW_NUMBER() OVER(PARTITION BY CATEGORY_NAME ORDER BY enroll_date DESC) AS category_rownum
        FROM TB_PRODUCT
        JOIN TB_CATEGORY USING(CATEGORY_NO)
        WHERE STATUS = 'Y'
    ) A
    WHERE category_rownum BETWEEN 1 AND 4
)


</entry>


<entry key="selectjlist">

	SELECT * FROM(
		SELECT ROWNUM RNUM, A.* 
		FROM
		(
		SELECT 
		  PRODUCT_NO
		, CATEGORY_NAME
		, PRODUCT_NAME
		, PRICE
		, DISCOUNT_PRICE
		, PATH
		FROM TB_PRODUCT
		JOIN TB_CATEGORY USING(CATEGORY_NO)
		WHERE CATEGORY_NAME = '장류'
		 AND STATUS = 'Y'
		ORDER BY ENROLL_DATE DESC
		) A
		) WHERE RNUM BETWEEN 1 AND 4



</entry>

<entry key ="insertLike">

	INSERT INTO TB_LIKE
		
	(LIKE_NO,USER_NO,LIKE_TYPE,LIKE_REFNO)
	
	VALUES(SEQ_LNO.NEXTVAL,?,?,?)

</entry>

<entry key ="countLike">

	SELECT COUNT(*) COUNT
	FROM TB_LIKE
	WHERE USER_NO =? AND LIKE_TYPE =? AND LIKE_REFNO =?

</entry>

<entry key="deleteLike">

	DELETE FROM TB_LIKE
	WHERE USER_NO =? AND LIKE_TYPE =? AND LIKE_REFNO =?



</entry>

<entry key="selectLike">

	SELECT DISTINCT LIKE_REFNO
	FROM TB_LIKE
	WHERE USER_NO = ? AND LIKE_TYPE = 'P'



</entry>

<entry key="deleteQna">
	
		DELETE FROM TB_QNA_REPLY
		WHERE ANSWER_NO = ? AND ANSWER_TYPE = 1
	
	
</entry>


<entry key="countCategoryJang">
	SELECT COUNT(*) COUNT
	FROM TB_QNA_REPLY
	JOIN TB_PRODUCT USING(PRODUCT_NO)
	JOIN TB_CATEGORY USING(CATEGORY_NO)
	WHERE CATEGORY_NAME = '장류'
	AND ANSWER_TYPE = 1


</entry>

<entry key="countCategoryDress">
	SELECT COUNT(*) COUNT
	FROM TB_QNA_REPLY
	JOIN TB_PRODUCT USING(PRODUCT_NO)
	JOIN TB_CATEGORY USING(CATEGORY_NO)
	WHERE CATEGORY_NAME = '드레싱'
	AND ANSWER_TYPE = 1

</entry>

<entry key="countCategoryEtc">

	SELECT COUNT(*) COUNT
	FROM TB_QNA_REPLY
	JOIN TB_PRODUCT USING(PRODUCT_NO)
	JOIN TB_CATEGORY USING(CATEGORY_NO)
	WHERE CATEGORY_NAME = '기타'
	AND ANSWER_TYPE = 1


</entry>

<entry key="selectCategoryJang">

SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NAME = '장류'
			 AND ANSWER_TYPE = 1
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="selectCategoryDress">

SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NAME = '드레싱'
			 AND ANSWER_TYPE = 1
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="selectCategoryEtc">

SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NAME = '기타'
			 AND ANSWER_TYPE = 1
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="selectCategoryAll">

SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            JOIN TB_CATEGORY USING(CATEGORY_NO)
            WHERE ANSWER_TYPE = 1
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key="countCategoryAll">

	SELECT COUNT(*) COUNT
	FROM TB_QNA_REPLY
	JOIN TB_PRODUCT USING(PRODUCT_NO)
	JOIN TB_CATEGORY USING(CATEGORY_NO)
	WHERE ANSWER_TYPE = 1


</entry>


<entry key="managerQnalist">
		SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            where ANSWER_TYPE = 1
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
			
	</entry>
	
	<entry key="managerProQnalist">
		SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            where ANSWER_TYPE = 1 
            and ANSWER_STATUS = '처리'
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="managerUnproQnalist">
	
			SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            where ANSWER_TYPE = 1 
            and ANSWER_STATUS = '미처리'
			ORDER
			  BY ANSWER_NO DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
			
			
	</entry>

<entry key="selectReplyList">

		SELECT ANSWER_NO, ANSWER_TITLE, ANSWER_CONTENT,REPLY
	    FROM TB_QNA_REPLY
	    WHERE ANSWER_NO=?
	    AND ANSWER_TYPE =1




</entry>

<entry key="selectReplyListFile">
		SELECT 
		      PRO_FILE_NO
		    , FILE_NAME
		    , FILE_CHANGENAME
		    , FILE_ROUTE
		  FROM TB_ATTACHMENT_PRODUCT
		 WHERE REF_NO = ?
		   AND TYPE = 'Q'
	</entry>



<entry key="updateReply">
	UPDATE TB_QNA_REPLY
	SET REPLY = ?,
    ANSWER_STATUS = '처리',
    REPLY_DATE = SYSDATE,
    ADMIN_NO = ?
    
    
	WHERE ANSWER_NO = ?


</entry>





<entry key="selectSearchList">

	SELECT * 
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE	 
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
            where ANSWER_TYPE = 1 
			and PRODUCT_NAME LIKE '%' || ? || '%'
			  
			ORDER
			   BY answer_status asc
			) A
			) WHERE RNUM BETWEEN ? AND ?


</entry>


<entry key="countSearch">
	SELECT COUNT(*) AS COUNT
FROM (
    SELECT 
    ANSWER_NO
    FROM TB_QNA_REPLY
    JOIN TB_PRODUCT USING(PRODUCT_NO)
    JOIN TB_MEMBER USING(USER_NO)
    WHERE ANSWER_TYPE = 1 
    AND PRODUCT_NAME LIKE '%' || ? || '%'
) A




</entry>




























</properties>