<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
	
		SELECT *
			FROM (
			    SELECT ROWNUM RNUM, A.*
			    FROM (
			        SELECT 
			         PRODUCT_NO
			       , CATEGORY_NAME
			       , PRODUCT_NAME
			       , PRICE
				   , DISCOUNT_PRICE
			       , PATH
			    FROM TB_PRODUCT
			    JOIN TB_CATEGORY USING(CATEGORY_NO)
			    WHERE STATUS = 'Y'
			    ) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectProduct">
		SELECT 
		      PRODUCT_NO
		    , CATEGORY_NAME
		    , PRODUCT_NAME
		    , PRICE
		    , DISCOUNT_PRICE
		    , PATH
		FROM TB_PRODUCT
		JOIN TB_CATEGORY USING(CATEGORY_NO)
		WHERE PRODUCT_NO = ?
		 AND STATUS = 'Y'
	</entry>
	
	<entry key="selectPaymentUser">
		SELECT 
		       USER_NO
		     , USER_ID
		FROM TB_MEMBER M
		LEFT JOIN TB_ORDER O USING(USER_NO)
		LEFT JOIN TB_PAYMENT P USING(PAYMENT_NO)
		WHERE PAYMENT_STATUS = 'Y'
	</entry>
	
	<entry key="selectQnaList">
	
		SELECT *
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM (
			SELECT
			     ANSWER_NO
			   , PRODUCT_NAME
			   , ANSWER_TITLE
			   , USER_ID
			   , TO_CHAR(ANSWER_DATE, 'yyyy/mm/dd') ANSWER_DATE
			   , ANSWER_CONTENT
			   , ANSWER_STATUS
			   , REPLY
			   , TO_CHAR(REPLY_DATE, 'yyyy/mm/dd') REPLY_DATE		   
			FROM TB_QNA_REPLY
			JOIN TB_PRODUCT USING(PRODUCT_NO)
			JOIN TB_MEMBER USING(USER_NO)
			WHERE PRODUCT_NO = ?
			 AND ANSWER_TYPE = 1
			ORDER
			  BY ANSWER_DATE DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?

	</entry>
	
	<entry key="selectQnaCount">
		SELECT COUNT(*) COUNT
		  FROM 
		      TB_PRODUCT
		  WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectRecipeList">
		SELECT * FROM
			(
			SELECT ROWNUM RNUM, A.*
			FROM 
			(SELECT 
			         RECIPE_NO
			       , USER_ID
			       , PRODUCT_NAME
			       , CATEGORY_NAME
			       , RECIPE_TITLE
			       , THUMBNAIL_URL
			       , RECIPE_INTRO
			       , PRICE
                   , NVL((SELECT COUNT(LIKE_REFNO)
                        FROM TB_LIKE
                       WHERE LIKE_TYPE = 'R'
                       GROUP BY LIKE_REFNO
                        HAVING LIKE_REFNO = RECIPE_NO
                      ), 0) COUNT
			       , PATH
			       , USER_PATH
			    FROM TB_RECIPE R
			    LEFT JOIN TB_CATEGORY USING(CATEGORY_NO)
			    LEFT JOIN TB_PRODUCT USING(PRODUCT_NO)
			    LEFT JOIN TB_MEMBER USING (USER_NO)
			    WHERE PRODUCT_NO = ?
			      AND RECIPE_STATUS = 'Y'
			    ORDER
			       BY POST_DATE DESC
			)A
			)
			WHERE RNUM BETWEEN 1 AND 3
	</entry>
	
	<entry key="selectReviewCount">
		SELECT COUNT(*) COUNT
		  FROM TB_REVIEW
		 WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="selectReviewList">
	SELECT *
		FROM(
		SELECT ROWNUM RNUM, A.*
		FROM( 
		SELECT 
		      PRODUCT_NO
		    , REVIEW_CONTENT
		    , RATING
		    , USER_ID
		    , TO_CHAR(POST_DATE, 'yyyy/MM/DD') POST_DATE
		FROM TB_REVIEW R
		LEFT JOIN TB_MEMBER M ON(M.USER_NO = R.WRITER_NO)
		WHERE R.PRODUCT_NO = ?
		ORDER 
		   BY POST_DATE DESC
		)A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertReview">
		INSERT 
		    INTO TB_REVIEW
		    (
		      PRODUCT_NO
		    , WRITER_NO
		    , RATING
		    , REVIEW_CONTENT
		    )
		    VALUES
		    (
		     ?
		    ,?
		    ,?
		    ,?
		    )
	
	</entry>
	
	<entry key="selectReview">
		SELECT 
		       REVIEW_CONTENT
		     , RATING
		     , USER_ID
		     , TO_CHAR(POST_DATE, 'yyyy/mm/dd') POST_DATE
		FROM 
		    TB_REVIEW
		LEFT JOIN TB_MEMBER ON(USER_NO = WRITER_NO)
		WHERE WRITER_NO = ?
	</entry>
	
	<entry key="searchCountList">
		SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE PRODUCT_NAME LIKE '%' || ? || '%'
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="selectSearchList">
		SELECT * 
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH 
			FROM TB_PRODUCT
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE PRODUCT_NAME LIKE '%' || ? || '%'
			  AND STATUS = 'Y'
			ORDER
			   BY ENROLL_DATE DESC
			) A
			) WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertQna">
		  INSERT 
		    INTO TB_QNA_REPLY
		    (
		      ANSWER_NO
		    , PRODUCT_NO
		    , USER_NO
		    , ANSWER_TITLE
		    , ANSWER_CONTENT
		    , ANSWER_TYPE
		     )
		     VALUES
		     (
		      SEQ_QNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , 1
		     )
	</entry>
	
	<entry key="insertQnaFiles">
	     INSERT
         INTO TB_ATTACHMENT_PRODUCT
         (
           PRO_FILE_NO
         , FILE_NAME
         , FILE_CHANGENAME
         , FILE_ROUTE
         , STATUS
         , REF_NO
         , TYPE
         )
         VALUES
         (
          SEQ_FNO.NEXTVAL
        , ?
        , ?
        , ?
        , 'Y'
        , ? <!-- 넘어오는 상품번호 --> 
        , 'Q'
         )
	</entry>
	
	
	<entry key="selectJangListCount">
		SELECT COUNT(*) COUNT
		 FROM TB_PRODUCT
		 JOIN TB_CATEGORY USING(CATEGORY_NO)
		 WHERE CATEGORY_NAME = '장류'
		   AND STATUS = 'Y'
	</entry>
	
	
	<entry key="selectProductJang">
	SELECT * FROM(
		SELECT ROWNUM RNUM, A.* 
		FROM
		(
		SELECT 
		  PRODUCT_NO
		, CATEGORY_NAME
		, PRODUCT_NAME
		, PRICE
		, DISCOUNT_PRICE
		, PATH
		FROM TB_PRODUCT
		JOIN TB_CATEGORY USING(CATEGORY_NO)
		WHERE CATEGORY_NAME = '장류'
		 AND STATUS = 'Y'
		ORDER BY ENROLL_DATE DESC
		) A
		) WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countListJang">
		SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		  JOIN TB_CATEGORY USING(CATEGORY_NO)
		 WHERE CATEGORY_NAME = '장류'
		   AND STATUS = 'Y'
		   AND PRODUCT_NAME LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchProductJangList">
		SELECT * FROM(
		SELECT ROWNUM RNUM, A.* 
		FROM
		(
		SELECT 
		  PRODUCT_NO
		, CATEGORY_NAME
		, PRODUCT_NAME
		, PRICE
		, DISCOUNT_PRICE
		, PATH
		FROM TB_PRODUCT
		JOIN TB_CATEGORY USING(CATEGORY_NO)
		WHERE CATEGORY_NAME = '장류'
		 AND STATUS = 'Y'
         AND PRODUCT_NAME LIKE '%' || ? || '%'
		ORDER BY ENROLL_DATE DESC
		) A
		) WHERE RNUM BETWEEN ? AND ?	
	</entry>
	
	<entry key="countListDressing">
		SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		  JOIN TB_CATEGORY USING(CATEGORY_NO)
		 WHERE CATEGORY_NAME = '드레싱'
		 AND STATUS = 'Y'
	</entry>
	
	<entry key="selectDressingList">
		SELECT * FROM(
		SELECT ROWNUM RNUM, A.* 
		FROM
		(
		SELECT 
		  PRODUCT_NO
		, CATEGORY_NAME
		, PRODUCT_NAME
		, PRICE
		, DISCOUNT_PRICE
		, PATH
		FROM TB_PRODUCT
		JOIN TB_CATEGORY USING(CATEGORY_NO)
		WHERE CATEGORY_NAME = '드레싱'
		 AND STATUS = 'Y'
		ORDER BY ENROLL_DATE DESC
		) A
		) WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countSearchList">
	SELECT COUNT(*) COUNT
	  FROM TB_PRODUCT
	  JOIN TB_CATEGORY USING(CATEGORY_NO)
	 WHERE CATEGORY_NAME = '드레싱'
	   AND PRODUCT_NAME LIKE '%' || ? || '%'
	   AND STATUS = 'Y'
	</entry>
	
	<entry key="searchProductDressingList">
		 SELECT * FROM(
			SELECT ROWNUM RNUM, A.* 
			FROM
			(
			SELECT 
			  PRODUCT_NO
			, CATEGORY_NAME
			, PRODUCT_NAME
			, PRICE
			, DISCOUNT_PRICE
			, PATH
			FROM TB_PRODUCT
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NAME = '드레싱'
			 AND STATUS = 'Y'
		        AND PRODUCT_NAME LIKE '%' || ? || '%'
			ORDER BY ENROLL_DATE DESC
			) A
			) WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="countListEtc">
		SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		  JOIN TB_CATEGORY USING(CATEGORY_NO)
		 WHERE CATEGORY_NAME = '기타'
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectEtcProductList">
		 SELECT * FROM(
			SELECT ROWNUM RNUM, A.* 
			FROM
			(
			SELECT 
			  PRODUCT_NO
			, CATEGORY_NAME
			, PRODUCT_NAME
			, PRICE
			, DISCOUNT_PRICE
			, PATH
			FROM TB_PRODUCT
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NAME = '기타'
			 AND STATUS = 'Y'
			ORDER BY ENROLL_DATE DESC
			) A
			) WHERE RNUM BETWEEN ? AND ?
	</entry>
     
     <entry key="countEtcProduct">
     	SELECT COUNT(*) COUNT
		  FROM TB_PRODUCT
		  JOIN TB_CATEGORY USING(CATEGORY_NO)
		 WHERE PRODUCT_NAME LIKE '%' || ? || '%'
		   AND CATEGORY_NAME = '기타'
		   AND STATUS = 'Y'
     </entry>
     
     <entry key="searchProductEtcList">
     	 SELECT * FROM(
			SELECT ROWNUM RNUM, A.* 
			FROM
			(
			SELECT 
			  PRODUCT_NO
			, CATEGORY_NAME
			, PRODUCT_NAME
			, PRICE
			, DISCOUNT_PRICE
			, PATH
			FROM TB_PRODUCT
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NAME = '기타'
			  AND STATUS = 'Y'
	          AND PRODUCT_NAME LIKE '%' || ? || '%'
			ORDER BY ENROLL_DATE DESC
			) A
			) WHERE RNUM BETWEEN ? AND ?
     </entry>
     
	<entry key="sortLikeAllList">
	SELECT * FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
                ,(SELECT COUNT(*)
			     FROM TB_LIKE
			     WHERE LIKE_REFNO = PRODUCT_NO
			       AND LIKE_TYPE = 'P') COUNT
			    FROM TB_PRODUCT
			     JOIN TB_CATEGORY USING(CATEGORY_NO)
			     WHERE STATUS = 'Y' 
			    ORDER BY COUNT DESC
			) A
			)WHERE RNUM BETWEEN ? AND ?

	</entry>
	
	<entry key="sortSaleAllList">
	SELECT * 
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
			    ,(SELECT COUNT(*) 
			        FROM TB_ORDER_PRODUCT
			       WHERE PRODUCT_NO = P.PRODUCT_NO ) COUNT
			FROM TB_PRODUCT P
			JOIN TB_CATEGORY USING(CATEGORY_NO)
            WHERE STATUS = 'Y' 
			ORDER BY COUNT DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortrowPriceAllList">
		SELECT * FROM(
        SELECT ROWNUM RNUM, A.*
        FROM(
        SELECT 
              PRODUCT_NO
            , CATEGORY_NAME
            , PRODUCT_NAME
            , PRICE
            , DISCOUNT_PRICE
            , PATH
            FROM TB_PRODUCT
             JOIN TB_CATEGORY USING(CATEGORY_NO)
             WHERE STATUS = 'Y' 
            ORDER BY (PRICE - DISCOUNT_PRICE) ASC
        ) A
        )WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortLikeJangList">	        
		SELECT * FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
                ,(SELECT COUNT(*)
			     FROM TB_LIKE
			     WHERE LIKE_REFNO = PRODUCT_NO
			       AND LIKE_TYPE = 'P') COUNT
			    FROM TB_PRODUCT
			     JOIN TB_CATEGORY USING(CATEGORY_NO)
                 WHERE CATEGORY_NO = 1
			     AND STATUS = 'Y' 
			    ORDER BY COUNT DESC
			) A
			)WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortSaleJangList">
		SELECT * 
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
			    ,(SELECT COUNT(*) 
			        FROM TB_ORDER_PRODUCT
			       WHERE PRODUCT_NO = P.PRODUCT_NO ) COUNT
			FROM TB_PRODUCT P
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NO = 1
			  AND STATUS = 'Y' 
			ORDER BY COUNT DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortrowPriceJangList">
		SELECT * FROM(
        SELECT ROWNUM RNUM, A.*
        FROM(
        SELECT 
              PRODUCT_NO
            , CATEGORY_NAME
            , PRODUCT_NAME
            , PRICE
            , DISCOUNT_PRICE
            , PATH
            FROM TB_PRODUCT
             JOIN TB_CATEGORY USING(CATEGORY_NO)
            WHERE CATEGORY_NO = 1
             AND STATUS = 'Y' 
            ORDER BY (PRICE - DISCOUNT_PRICE) ASC
        ) A
        )WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="sortLikeDressingList">
		SELECT * FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
                ,(SELECT COUNT(*)
			     FROM TB_LIKE
			     WHERE LIKE_REFNO = PRODUCT_NO
			       AND LIKE_TYPE = 'P') COUNT
			    FROM TB_PRODUCT
			     JOIN TB_CATEGORY USING(CATEGORY_NO)
                 WHERE CATEGORY_NO = 2
			     AND STATUS = 'Y' 
			    ORDER BY COUNT DESC
			) A
			)WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortSaleDressingList">
		SELECT * 
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
			    ,(SELECT COUNT(*) 
			        FROM TB_ORDER_PRODUCT
			       WHERE PRODUCT_NO = P.PRODUCT_NO ) COUNT
			FROM TB_PRODUCT P
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NO = 2
			  AND STATUS = 'Y' 
			ORDER BY COUNT DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortrowPriceDressingList">
		SELECT * FROM(
        SELECT ROWNUM RNUM, A.*
        FROM(
        SELECT 
              PRODUCT_NO
            , CATEGORY_NAME
            , PRODUCT_NAME
            , PRICE
            , DISCOUNT_PRICE
            , PATH
            FROM TB_PRODUCT
             JOIN TB_CATEGORY USING(CATEGORY_NO)
            WHERE CATEGORY_NO = 2
             AND STATUS = 'Y' 
            ORDER BY (PRICE - DISCOUNT_PRICE) ASC
        ) A
        )WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="sortLikeEtcList">
		SELECT * FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
                ,(SELECT COUNT(*)
			     FROM TB_LIKE
			     WHERE LIKE_REFNO = PRODUCT_NO
			       AND LIKE_TYPE = 'P') COUNT
			    FROM TB_PRODUCT
			     JOIN TB_CATEGORY USING(CATEGORY_NO)
                 WHERE CATEGORY_NO = 3
			     AND STATUS = 'Y' 
			    ORDER BY COUNT DESC
			) A
			)WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortSaleEtcList">
		SELECT * 
			FROM(
			SELECT ROWNUM RNUM, A.*
			FROM(
			SELECT 
			      PRODUCT_NO
			    , CATEGORY_NAME
			    , PRODUCT_NAME
			    , PRICE
			    , DISCOUNT_PRICE
			    , PATH
			    ,(SELECT COUNT(*) 
			        FROM TB_ORDER_PRODUCT
			       WHERE PRODUCT_NO = P.PRODUCT_NO ) COUNT
			FROM TB_PRODUCT P
			JOIN TB_CATEGORY USING(CATEGORY_NO)
			WHERE CATEGORY_NO = 3
			  AND STATUS = 'Y' 
			ORDER BY COUNT DESC
			) A
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="sortrowPriceEtcList">
		SELECT * FROM(
        SELECT ROWNUM RNUM, A.*
        FROM(
        SELECT 
              PRODUCT_NO
            , CATEGORY_NAME
            , PRODUCT_NAME
            , PRICE
            , DISCOUNT_PRICE
            , PATH
            FROM TB_PRODUCT
             JOIN TB_CATEGORY USING(CATEGORY_NO)
            WHERE CATEGORY_NO = 3
             AND STATUS = 'Y' 
            ORDER BY (PRICE - DISCOUNT_PRICE) ASC
        ) A
        )WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertLikeProduct">
		INSERT
		   INTO TB_LIKE
		   (
		     LIKE_NO
		   , USER_NO
		   , LIKE_TYPE
		   , LIKE_REFNO
		   )
		   VALUES
		   (
		    SEQ_LNO.NEXTVAL
		   , ?
		   , 'P'
		   , ?
		   )
	</entry>
	
	<entry key="deleteLikeProduct">
		DELETE FROM TB_LIKE
		WHERE USER_NO = ?
		  AND LIKE_REFNO = ?
          AND LIKE_TYPE = 'P'
	</entry>
	
	<entry key="likeUserNo">
	 SELECT
		  LIKE_NO
		, USER_NO
		, LIKE_REFNO
		FROM TB_LIKE
		WHERE LIKE_TYPE = 'P'
         AND USER_NO = ?
	</entry>
	 
	<entry key="likeProductAll">
	  SELECT LIKE_REFNO
		FROM TB_LIKE
		WHERE USER_NO = ?
		  AND LIKE_TYPE = 'P'
	</entry>
	
	
	
</properties>
