<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>

    <!-- 부트스트랩 기능을 위한 CDN 방식 연결 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ---------------------------------- -->

    <style>
        /* 레이아웃 관련 스타일 */
        .wrap, .wrap * {box-sizing: border-box;}
        .header{height: 150px;}
        .main-content{min-height: 800px;}
        .footer{height: 200px;}
        .center{display: flex; justify-content: center; align-items: center;}
        
        /* Header 영역관련 스타일 */
        .header{display: flex; position: sticky; top: 0; background-color: white;}
        .header-left-logo{width: 25%; display: flex;}
        .header-left-logo>img{height: 100%;}
        .header-right{width: 75%; display: flex; flex-direction: column;}
        .header-right-top{height: 30%;}
        .header-user>svg:hover{cursor: pointer;}
        .header-right-bottom{height: 70%;}
        
        /* Footer 영역관련 스타일 */
        .footer{display: flex;}
        .footer-logo{width: 30%;}
        .footer-company{width: 40%;}
        .footer-company>ul{list-style-type: "- "}
        .footer-business-time{width: 30%;}
        .footer-business-time>ul{list-style: none;}

        /* 메인페이지 Section 영역관련 스타일 */
        .main-content{display: flex; flex-direction: column;}
        .content-product-list{display: flex; flex-direction: column;}
        .product-thumbnail-list .product:hover, .recipe:hover, .recipe-product:hover{cursor: pointer; opacity: 0.8;}
        .recipe-product{display: flex;}

        

         /*결제페이지 스타일*/
         .content{box-sizing: border-box;}
         .content{width: 80%; min-height: 1300px; margin: auto;}
        table{width: 100%; border: 1;}
        table tr{ height: 50px;}
        .pay_img{text-align: center;}
        .pay_img th{width: 50px; height: 100px; border: 1px solid black;}
        .order_pro{text-align: center; border: 1;}
        .order_pro th{width: 100px;}
        .ch_box{width: 15px; height: 15px;}
        
        
    </style>

</head>
<body>
    <div class="wrap container p-3">

        <!-- Header start -->
        <header class="header border-bottom border-2">

            <!-- Header 왼쪽(로고) 영역 start -->
            <div class="header-left-logo center">
                <img src="./resourcces/images/로고.png" alt="소스토리 로고이미지">
            </div>
            <!-- Header 왼쪽(로고) 영역 end -->

            <!-- Header 오른쪽 영역(상단: 유저관련 | 하단: nav바) start -->
            <div class="header-right">

                <!-- Header 오른쪽-상단(로그인, 마이페이지, 장바구니) 영역 start -->
                <div class="header-right-top">
                    <div class="header-user d-flex justify-content-end center">
                        <!-- 로그인 x  -->
                        <a class="btn btn-outline-secondary btn-sm mx-2 py-0">login</a>
                        <!-- 로그인 o 
                        <span><b>xxx님</b></span>
                        -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="user mx-2" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="cart mx-2" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                    </div>
                </div>
                <!-- Header 오른쪽-상단(로그인, 마이페이지, 장바구니) 영역 end -->

                <!-- Header 오른쪽-하단(nav바) 영역 start -->
                <div class="header-right-bottom">
                    <div class="header-nav py-4 mb-3">
                        <nav class="nav nav-underline justify-content-between">
                            <a class="nav-item nav-link link-body-emphasis active" href="#">HOME</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">전체상품</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">신상품</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">타임세일</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">랭킹</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">소스트리</a>
                        </nav>
                    </div>
                </div>
                <!-- Header 오른쪽-하단(nav바) 영역 start -->
            </div>
            <!-- Header 오른쪽 영역(상단: 유저관련 | 하단: nav바) end -->
        </header>
        <!-- Header end -->

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        
        <!-- Section start -->
        <section class="content">
        <!-- 결제 페이지 시작-->
        <div class="section_main">
            <br>
            <h2><b>주문결제</b></h2>
            <div>
                <form action="" method="">
                    <table>
                        <tr>
                            <br><br>
                            <th colspan="3" style="border-bottom: 1px solid rgb(158, 158, 158);"><h5><b>주문자정보</b></h5></th>
                        </tr>
                        <tr>
                            <th colspan="2"><input type="checkbox" class="ch_box">&nbsp;&nbsp;주문자 정보 동일</th>
                            <th style="text-align: right;"><label style="color: red;">*&nbsp;&nbsp;</label><b>필수입력사항</b>&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th><label style="color: red;">*&nbsp;&nbsp;</label>받는분</th>
                            <td><input type="text" class="form-control" placeholder="이름을 입력하세요"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th><label style="color: red;">*&nbsp;&nbsp;</label>휴대폰번호</th>
                            <td><input type="tel" class="form-control" placeholder="휴대폰번호를 입력하세요 (숫자만)"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th><label style="color: red;">*&nbsp;&nbsp;</label>이메일</th>
                            <td><input type="email" class="form-control" placeholder="이메일을 입력하세요"></td>
                            <td></td>
                        </tr>
                    </table>
            </div>
            <div style="border-top: 3px solid grey; display: flex; justify-content: center;">
                <table>
                    <tr style="border-bottom: 1px solid gray;">
                        <th colspan="4" style="border-bottom: 1px solid rgb(158, 158, 158);"><h5><b>배송정보</b></h5></th>
                    </tr>
                    <tr>                      
                        <th><input type="checkbox" class="ch_box">&nbsp;&nbsp;기본 배송지</th>
                        <th colspan="2">
                            <select name="" id="" class="form-control">
                                <option value="">배송지를 선택하세요</option>
                                <option value="">마이페이지에있는 주소 끌어오기</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th><label style="color: red;">*&nbsp;&nbsp;</label>주소</th>
                        <th><input type="text" class="form-control" placeholder="우편번호"></th>
                        <th></th>
                        <th><input type="text" class="form-control" placeholder="기본주소"></th>
                        <th><button type="button" class="btn btn-secondary">우편번호 찾기</button></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="3"><input type="text" class="form-control" placeholder="상세주소를 입력하세요"></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th><label style="color: red;">*&nbsp;&nbsp;</label>배송시 입력사항</th>
                        <th colspan="3">
                            <input list="post_i" class="form-control">
                            <datalist name="" id="post_i">
                                <option value="경비실에 맡겨주세요">경비실에 맡겨주세요</option>
                                <option value="택배함에 놔주세요">택배함에 놔주세요</option>
                                <option value="경비실에 맡겨주세요">경비실에 맡겨주세요</option>
                            </datalist>
                        </th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div style="border-top: 3px solid grey; display: flex; justify-content: center;">
                <table class="order_pro">
                    <tr>
                        <th colspan="4" style="border-bottom: 1px solid rgb(158, 158, 158); text-align: left; height: 40px;">
                            <h5><b>주문상품</b></h5>
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 50px;">
                            <img src="resourcces/images/이미지1.jpg" alt="" width="130px" height="130px">
                        </th>
                        <th>칼로리Zero마요네즈</th>
                        <th>9,000원</th>
                        <th>1</th>
                    </tr>
                    <tr>
                        <th>
                            <img src="resourcces/images/이미지1.jpg" alt="" width="130px" height="130px">
                        </th>
                        <th>칼로리Zero마요네즈</th>
                        <th>9,000원</th>
                        <th>1</th>
                    </tr>
                    <tr>
                        <th>
                            <img src="resourcces/images/이미지1.jpg" alt="" width="130px" height="130px">
                        </th>
                        <th>칼로리Zero마요네즈</th>
                        <th>9,000원</th>
                        <th>1</th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="border-top: 3px solid grey; display: flex; flex-direction: column; justify-content: right;">
            <div style="display: flex; justify-content: left; width: 100%; border-bottom: 1px solid gray; height: 40px;">
                <h5><b>결제금액</b></h5>
            </div>
            <table class="table" style="width: 100%; text-align: right;">
                <tr>
                    <th></th><th></th>
                    <th>상품금액</th>
                    <th>31,000원</th>
                </tr>
                <tr>
                    <th></th><th></th>
                    <th>배송비</th>
                    <th>0원</th>
                </tr>
                <tr>
                    <th></th><th></th>
                    <th>할인금액</th>
                    <th>4,000원</th>
                </tr>
                <tr>
                    <th></th><th></th>
                    <th>총 결제 금액</th>
                    <th>29,000원</th>
                </tr>
            </table>
        </div>
        <div style="border-top: 3px solid grey; display: flex; display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; justify-content: left; width: 100%; border-bottom: 1px solid gray; height: 40px;">
                <h5><b>결제방법</b></h5>
            </div>
            <div>
                    <table class="table" border="1">
                        <tr>
                            <th colspan="2" style="text-align: center;"><h5><b>무통장입금</b></h5></th>
                        </tr>
                        <tr>
                            <th>예금주명</th>
                            <td><input type=""  class="form-control" placeholder="이름을 입력하세요"></td>
                        </tr>
                        <tr>
                            <th>은행명</th>
                            <td><input type=""  class="form-control" placeholder="예)농협"></td>
                        </tr>
                        <tr>
                            <th>계좌번호</th>
                            <td><input type=""  class="form-control" placeholder="숫자만 입력하세요"></td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" style="color: red;">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                                  </svg>
                                <b>!주의사항! 예금주명 / 은행명 / 계좌번호를 정확히 입력하세요</b>
                            </th>
                        </tr>
                        <tr style="text-align: center;">
                            <th colspan="2">입금은행명 : 농협 <br>
                                입금은행계좌명 : 234234-234234-234
                            </th>
                        </tr>
                    </table>
                   
            </div>
            <div style="border-bottom: 2px; border-top: 3px solid grey; display: flex; display: flex; flex-direction: column; align-items: center; width: 100%;">
                <table>
                    <tr>
                        <th colspan="2"><input type="checkbox" class="ch_box" id="checking" required><b>&nbsp;&nbsp;주문내용 확인 및 결제 동의</b></th>
                    </tr>
                    <tr>
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg>(필수) 개인정보 수집 이용 동의
                        </th>
                        <th><u>보기</u></th>
                    </tr>
                    <tr>
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg>(필수) 개인정보 제3자 정보 제공 동의
                        </th>
                        <th><u>보기</u></th>
                    </tr>
                    <tr>
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg>(필수) 결제대행 서비스 이용약관 동의
                        </th>
                        <th><u>보기</u></th>
                    </tr>
                </table>
            </div>
                <div style="margin: 50px;">
                    <button type="button" class="btn btn-danger disabled" id="btn_success">결제하기</button>
                </div>
            </form> 
            <script>
                $(function(){
                    $("#checking").click(function(){

                        if(this.checked){
                            $("#btn_success").removeClass("disabled");
                        }else{
                            $("#btn_success").addClass("disabled");
                        }
                })
                    
                    
                })
            </script>

            
        </div>
        <!-- 결제 페이지 끝-->

            
        </section>
        <!-- Section end -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

        <!-- Footer start -->
        <footer class="footer pt-3 border-top border-2">
            <div class="footer-logo">
                <img src="./resourcces/images/로고.png" alt="소스토리 로고이미지" class="w-100 h-100">
            </div>
            <div class="footer-company center">
                <ul>
                    <li class="mb-4">상호명 : So's tory</li>
                    <li class="mb-4">개발자 : team sos</li>
                    <li>깃허브 : jsj@goodee.co.kr(깃허브 주소로 변경)</li>
                </ul>
            </div>
            <div class="footer-business-time center">
                <ul>
                    <li class="border-bottom mb-3"><b>Business Time</b></li>
                    <li class="mb-3">Monday - Friday : 08:00am ~ 05:00pm</li>
                    <li class="mb-3">Staturday : 10:00am ~ 08:00pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
        </footer>
        <!-- Footer end -->
    </div>
</body>
</html>