/* 마이페이지에서 공통으로 필요한 style (nav, 페이지제목) */
.main-wrap{
    margin: auto;
    width: 100%;
    margin-top: 50px;
    max-width: 1200px;
    min-height: 1200px;
    display: flex;
}

.menu_wrap{
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 67, 67);
    font-size: 20px;
    width: 15%;
    align-items: center; 
}

.side_menu>button{
    width: 100%;
    height: 70px;
    background-color: rgb(238, 67, 67);
    
    }

.side_menu div{
    display:none;
    font-size: 17px;
}

.list{
    border: none;
    color: white;
    font-weight: bolder;
}

.side_menu a{
    color: white;
}

a{
    text-decoration-line: none;
    color: black        
}

.side_menu a:hover{
    opacity: 0.8;
    text-decoration-line: none;
}

.main-page{
    display: flex;
    flex-direction: column;
    width: 85%;
}

/* 마이페이지-고객문의 진행사항에서만 필요한 style */
.page-title{
    align-items: center;
    display: flex;
    padding-top: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid lightslategray;
    width: 400px;
    margin-left: 40px;
}

.user-info{
    display: flex;
    padding-left: 60px;
}

.profile{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    display: flex;
}

.user-info-etc:hover{
	cursor:pointer;
	opacity:0.8;
}


.profile-right{
    margin-top: 20px;
    margin-left: 60px;
    width: 660px;
}

.profile-right-bottom{
    margin-top: 25px;
    display: flex;
}

#userProfile{
	border: 1px solid tomato;
	display: block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-left:-10px;
    margin-top: 6px;
}

.profile-right>h3{
	margin-left:70px;
}

.user-info-etc{
    width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 2px solid lightslategray;
}

.user-info-etc>b{
    text-align: center;
    margin-bottom: 10px;;
    font-size: 16px;
}

.user-info-etc>h6{
    text-align: center;
}

.customer-qna-area{
    margin-top: 60px;
    padding-left: 50px;
    
}

.qna-wrap{
    display: flex;
    margin-top: 20px;
    padding-left: 10px;
}

.product-qna, .etc-qna{
    background-color: rgb(222, 222, 222);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 110px;
    padding: 0;
}

.confirm{
	margin-top:100px;
}

.h6{
	margin-top: 20px;
}
