<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니목록페이지</title>

    <!-- 부트스트랩 기능을 위한 CDN 방식 연결 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ---------------------------------- -->

    <style>
        /* 레이아웃 관련 스타일 */
        .wrap, .wrap * {box-sizing: border-box;}
        .header{height: 150px;}
        .main-content{min-height: 800px;}
        .footer{height: 200px;}
        .center{display: flex; justify-content: center; align-items: center;}
        
        /* Header 영역관련 스타일 */
        .header{display: flex; position: sticky; top: 0; background-color: white;}
        .header-left-logo{width: 25%; display: flex;}
        .header-left-logo>img{height: 100%;}
        .header-right{width: 75%; display: flex; flex-direction: column;}
        .header-right-top{height: 30%;}
        .header-user>svg:hover{cursor: pointer;}
        .header-right-bottom{height: 70%;}
        
        /* Footer 영역관련 스타일 */
        .footer{display: flex;}
        .footer-logo{width: 30%;}
        .footer-company{width: 40%;}
        .footer-company>ul{list-style-type: "- "}
        .footer-business-time{width: 30%;}
        .footer-business-time>ul{list-style: none;}

        /* 메인페이지 Section 영역관련 스타일 */
        .main-content{display: flex; flex-direction: column;}
        .content-product-list{display: flex; flex-direction: column;}
        .product-thumbnail-list .product:hover, .recipe:hover, .recipe-product:hover{cursor: pointer; opacity: 0.8;}
        .recipe-product{display: flex;}

        /* 신상품목록페이지 관련 스타일 */
        .more-product{
            margin-top: 20px;
        }

        .pagination{
            margin-top: 30px;
        }
        .select-product{
            margin-bottom: 20px;
        }

        /* 장바구니목록 관련 스타일 */
        
        .cart-price{
            margin-top: 30px;
        }
        
        .icon{
            margin-top: 40px;
        }
        .pagination{
            margin-top: 30px;
        }
        .cart-count{
            margin-top: 40px;
        }
       
       
        


    </style>

</head>
<body>
    <div class="wrap container p-3">

        <!-- Header start -->
        <header class="header border-bottom border-2">

            <!-- Header 왼쪽(로고) 영역 start -->
            <div class="header-left-logo center">
                <img src="./resources/images/로고.png" alt="소스토리 로고이미지">
            </div>
            <!-- Header 왼쪽(로고) 영역 end -->

            <!-- Header 오른쪽 영역(상단: 유저관련 | 하단: nav바) start -->
            <div class="header-right">

                <!-- Header 오른쪽-상단(로그인, 마이페이지, 장바구니) 영역 start -->
                <div class="header-right-top">
                    <div class="header-user d-flex justify-content-end center">
                        <!-- 로그인 x  -->
                        <a class="btn btn-outline-secondary btn-sm mx-2 py-0">login</a>
                        <!-- 로그인 o 
                        <span><b>xxx님</b></span>
                        -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="user mx-2" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="cart mx-2" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                    </div>
                </div>
                <!-- Header 오른쪽-상단(로그인, 마이페이지, 장바구니) 영역 end -->

                <!-- Header 오른쪽-하단(nav바) 영역 start -->
                <div class="header-right-bottom">
                    <div class="header-nav py-4 mb-3">
                        <nav class="nav nav-underline justify-content-between">
                            <a class="nav-item nav-link link-body-emphasis" href="#">HOME</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">전체상품</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">신상품</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">타임세일</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">랭킹</a>
                            <a class="nav-item nav-link link-body-emphasis" href="#">소스트리</a>
                        </nav>
                    </div>
                </div>
                <!-- Header 오른쪽-하단(nav바) 영역 start -->
            </div>
            <!-- Header 오른쪽 영역(상단: 유저관련 | 하단: nav바) end -->
        </header>
        <!-- Header end -->

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        
        <!-- Section start -->
        <section class="main-content">
            

            <!-- 상품 상단 영역 start -->
            <div class="content-product-list my-5 center">

                    <!-- 상품 리스트 제목 영역 start -->
                    <div class="product-list-title">

                        <h1 class="d-inline"><b>장바구니</b></h1>

                    </div>
                    <!-- 상품 리스트 제목 영역 end -->
                    
            </div>
            <hr>

                <!-- 상품 상단 영역 end -->


                    <!-- 상품 리스트 start -->
                 
                    <div class="d-flex" style="margin-bottom: 20px;">
                        
                        <input type="checkbox" style="width: 30px;">
                        
                        <b>전체선택(해제)</b>

                    </div>


                    <div class="product-thumbnail-list d-flex flex-direction w-100">
                    
                        <div class="thumbnail-list d-flex w-100 justify-content-evenly"> 

                            <!-- 상품 썸네일 start -->
                           
                                <input type="checkbox" style="width: 30px;">
                            
                         
                            <div class="product img-thumbnail p-2" style="width:200px">
                                <img class="product-img" src="./resources/images/이미지1.jpg" alt="Card image" style="width:100%">
                                
                            </div>
                            <div class="product-name">
                                <small class="product-category text-secondary d-block mb-3 mt-2">카테고리명</small>
                                <h7 class="product-title"><b><b style="color: rgb(150, 24, 136);">[BEST] </b>칼로리 zero 머스타드</b></h7>
                                
                            </div>

                            
                            <div class="cart-price">
                            <h7 class="cart-price d-block mb-3 mt-2"><b>8,000원</b></h7>
                             </div>
                             <div class="cart-count">
                               
                                <input type="button" value="-" style="width: 30px;">
                                <input type="button" value="0" style="width: 30px;">
                                <input type="button" value="+" style="width: 30px;">
                           
                            </div>
                             


                            <div class="icon d-flex justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                            <!-- 상품 썸네일 end -->

                        </div> 
                       

                    </div> 
                    <!-- 상품 리스트 영역 end -->

                     <!-- 상품 리스트 start -->
                     <div class="product-thumbnail-list d-flex flex-direction w-100">
                      
                    
                        <div class="thumbnail-list d-flex w-100 justify-content-evenly"> 
                            <!-- 상품 썸네일 start -->
                            
                            <input type="checkbox" style="width: 30px;">

                            <div class="product img-thumbnail p-2" style="width:200px">
                                <img class="product-img" src="./resources/images/이미지1.jpg" alt="Card image" style="width:100%">
                                
                            </div>
                            <div class="product-name">
                                <small class="product-category text-secondary d-block mb-3 mt-2">카테고리명</small>
                                <h7 class="product-title"><b><b style="color: rgb(150, 24, 136);">[BEST] </b>칼로리 zero 머스타드</b></h7>
                                
                            </div>

                            
                            <div class="cart-price">
                            <h7 class="cart-price d-block mb-3 mt-2"><b>8,000원</b></h7>
                             </div>

                             <div class="cart-count">
                               
                                <input type="button" value="-" style="width: 30px;">
                                <input type="button" value="0" style="width: 30px;">
                                <input type="button" value="+" style="width: 30px;">
                           
                            </div>

                            <div class="icon d-flex justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                            <!-- 상품 썸네일 end -->

                        </div> 
                       

                    </div> 
                    <!-- 상품 리스트 영역 end -->

                     <!-- 상품 리스트 start -->
                     <div class="product-thumbnail-list d-flex flex-direction w-100">
                      
                    
                        <div class="thumbnail-list d-flex w-100 justify-content-evenly"> 
                            <!-- 상품 썸네일 start -->
                            
                            <input type="checkbox" style="width: 30px;">

                            <div class="product img-thumbnail p-2" style="width:200px">
                                <img class="product-img" src="./resources/images/이미지1.jpg" alt="Card image" style="width:100%">
                                
                            </div>
                            <div class="product-name">
                                <small class="product-category text-secondary d-block mb-3 mt-2">카테고리명</small>
                                <h7 class="product-title"><b><b style="color: rgb(150, 24, 136);">[BEST] </b>칼로리 zero 머스타드</b></h7>
                                
                            </div>

                            
                            <div class="cart-price">
                                <h7 class="cart-price d-block mb-3 mt-2"><b>8,000원</b></h7>
                            </div>

                            <div class="cart-count">
                               
                                <input type="button" value="-" style="width: 30px;">
                                <input type="button" value="0" style="width: 30px;">
                                <input type="button" value="+" style="width: 30px;">
                           
                            </div>

                            <div class="icon d-flex justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                            <!-- 상품 썸네일 end -->

                        </div> 
                       

                    </div> 
                    <!-- 상품 리스트 영역 end -->

                     <!-- 상품 리스트 start -->
                     <div class="product-thumbnail-list d-flex flex-direction w-100">
                      
                    
                        <div class="thumbnail-list d-flex w-100 justify-content-evenly"> 
                            <!-- 상품 썸네일 start -->
                            
                            <input type="checkbox" style="width: 30px;">

                            <div class="product img-thumbnail p-2" style="width:200px">
                                <img class="product-img" src="./resources/images/이미지1.jpg" alt="Card image" style="width:100%">
                                
                            </div>
                            <div class="product-name">
                                <small class="product-category text-secondary d-block mb-3 mt-2">카테고리명</small>
                                <h7 class="product-title"><b><b style="color: rgb(150, 24, 136);">[BEST] </b>칼로리 zero 머스타드</b></h7>
                                
                            </div>

                            
                            <div class="cart-price">
                                <h7 class="cart-price d-block mb-3 mt-2"><b>8,000원</b></h7>
                            </div>

                            <div class="cart-count">
                               
                                <input type="button" value="-" style="width: 30px;">
                                <input type="button" value="0" style="width: 30px;">
                                <input type="button" value="+" style="width: 30px;">
                           
                            </div>

                            <div class="icon d-flex justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                            <!-- 상품 썸네일 end -->

                        </div> 
                       

                    </div> 
                    <!-- 상품 리스트 영역 end -->

                     <!-- 상품 리스트 start -->
                     <div class="product-thumbnail-list d-flex flex-direction w-100">
                      
                    
                        <div class="thumbnail-list d-flex w-100 justify-content-evenly"> 
                            <!-- 상품 썸네일 start -->
                            
                            <input type="checkbox" style="width: 30px;">

                            <div class="product img-thumbnail p-2" style="width:200px">
                                <img class="product-img" src="./resources/images/이미지1.jpg" alt="Card image" style="width:100%">
                                
                            </div>
                            <div class="product-name">
                                <small class="product-category text-secondary d-block mb-3 mt-2">카테고리명</small>
                                <h7 class="product-title"><b><b style="color: rgb(150, 24, 136);">[BEST] </b>칼로리 zero 머스타드</b></h7>
                                
                            </div>

                            
                            <div class="cart-price">
                                <h7 class="cart-price d-block mb-3 mt-2"><b>8,000원</b></h7>
                            </div>
                            <div class="cart-count">
                               
                                <input type="button" value="-" style="width: 30px;">
                                <input type="button" value="0" style="width: 30px;">
                                <input type="button" value="+" style="width: 30px;">
                           
                            </div>

                            <div class="icon d-flex justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                            <!-- 상품 썸네일 end -->

                        </div> 
                       

                    </div> 
                    <!-- 상품 리스트 영역 end -->

                     <!-- 상품 리스트 start -->
                     <div class="product-thumbnail-list d-flex flex-direction w-100">
                      
                    
                        <div class="thumbnail-list d-flex w-100 justify-content-evenly"> 
                            <!-- 상품 썸네일 start -->
                            
                            <input type="checkbox" style="width: 30px;">

                            <div class="product img-thumbnail p-2" style="width:200px">
                                <img class="product-img" src="./resources/images/이미지1.jpg" alt="Card image" style="width:100%">
                                
                            </div>
                            <div class="product-name">
                                <small class="product-category text-secondary d-block mb-3 mt-2">카테고리명</small>
                                <h7 class="product-title"><b><b style="color: rgb(150, 24, 136);">[BEST] </b>칼로리 zero 머스타드</b></h7>
                                
                            </div>

                            
                            <div class="cart-price">
                                <h7 class="cart-price d-block mb-3 mt-2"><b>8,000원</b></h7>
                            </div>
                            <div class="cart-count">
                               
                                <input type="button" value="-" style="width: 30px;">
                                <input type="button" value="0" style="width: 30px;">
                                <input type="button" value="+" style="width: 30px;">
                           
                            </div>

                            <div class="icon d-flex justify-content-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                  </svg>
                            </div>
                            <!-- 상품 썸네일 end -->

                        </div> 
                       

                    </div> 
              
                    <!-- 상품 리스트 영역 end -->

                    

                     <!-- 페이징바 영역 start -->
                     
                     
                      <ul class="pagination justify-content center">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul> 
                  
                    <!-- 페이징바 영역 end -->
                    <hr>
                    <br>

                    <!-- 상품 금액 표시 영역 start -->
                    <div class="cart-allprice d-flex flex-direction justify-content-evenly" style="background-color: rgba(240, 240, 240); height: 300px;">
                        
                            <div class="center">
                                <div class="d-flex flex-column" style="border-radius: 30px; border: 1px solid black; width: 200px; height: 150px;">
                                    
                                <h4 class="center" style="padding-top: 30px;">상품금액</h4>
                                <h2 class="center">33,000</h2>
                                </div>

                            </div>
                            
                            <div class="center">
                                <div class="center" style="border-radius: 30px; border: 0px solid black; width: 100px; height: 150px;">
                                <h1>-</h1>
                                </div>
                            </div>

                            <div class="center">
                                <div class="d-flex flex-column" style="border-radius: 30px; border: 1px solid black; width: 200px; height: 150px;">
                                <h4 class="center" style="padding-top: 30px;">상품할인금액</h4>
                                <h2 class="center">4,000</h2>
                                </div>
                            </div>
                            <div class="center">
                                <div class="center" style="border-radius: 10px; border: 0px solid black; width: 100px; height: 150px;">
                                   <h1>=</h1>
                                </div>

                            </div>
                            <div class="center">
                                <div class="d-flex flex-column" style="border-radius: 30px; border: 1px solid black; width: 200px; height: 150px;">

                                <h4 class="center" style="padding-top: 30px;">총 결제금액</h4>
                                <h2 class="center">33,000</h2>
                                 </div>
                            </div>

                    </div>
                    <br>
                    <div class="d-flex flex-direction justify-content-evenly">
                    
                        <button type="button" class="btn btn-outline-dark" style="background-color: rgb(197, 191, 191); border-radius: 15px; color: black;">뒤로가기</button>
                        <button type="button" class="btn btn-outline-dark" style="background-color: rgb(206, 73, 73); border-radius: 15px; color: white;">주문하기</button>

                     </div>
                     <br>

                    

                    <!-- 상품 금액 표시 영역 end -->
        </section>
        <!-- Section end -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

        <!-- Footer start -->
        <footer class="footer pt-3 border-top border-2">
            <div class="footer-logo">
                <img src="./resources/images/로고.png" alt="소스토리 로고이미지" class="w-100 h-100">
            </div>
            <div class="footer-company center">
                <ul>
                    <li class="mb-4">상호명 : So's tory</li>
                    <li class="mb-4">개발자 : team sos</li>
                    <li>깃허브 : jsj@goodee.co.kr(깃허브 주소로 변경)</li>
                </ul>
            </div>
            <div class="footer-business-time center">
                <ul>
                    <li class="border-bottom mb-3"><b>Business Time</b></li>
                    <li class="mb-3">Monday - Friday : 08:00am ~ 05:00pm</li>
                    <li class="mb-3">Staturday : 10:00am ~ 08:00pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
        </footer>
        <!-- Footer end -->
    </div>
</body>
</html>